body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
}

.navbar {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: lightgrey;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
}

.main {
  margin: 10px auto;
  padding: 30px;
}

.expenses {
  margin-top: 20px;
}

.users h2, .expenses h2 {
  padding: 5px 0px;
  border-bottom: 1px solid grey;
  
}

.users button, .expenses button {
  padding: 10px;
  margin: 10px 10px 0px 0px;
}

.users-display {
  display: flex;
}

.expenses-display {
  display: flex;
}

.user-list {
  display: flex;
}

.expense-list{
  display: flex;
}